NUXT_PUBLIC_SUPABASE_URL=https://hnbqskvlhnhclwdeilyt.supabase.co
NUXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhuYnFza3ZsaG5oY2x3ZGVpbHl0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODY5MTAxMzUsImV4cCI6MjAwMjQ4NjEzNX0.Is6shkC8hON-2Jf69FDeuJSfFRz_BqvKMFPt-oScWKs
NUXT_ADMIN_FAKE_LOGIN_PASSWORD=
NUXT_ADMIN_USER_EMAIL=
NUXT_ADMIN_USER_PASSWORD=
BASIC_AUTH_USER=ksb
BASIC_AUTH_PASS=ksb
